/********/
/*BADGES*/
/********/

/* STAFF */

/* Jeroen */
#chat-messages .id-4346793 .badge-box i.bdg
{
        background-image:       url('http://im.ezgif.com/tmp/ezgif-2684320039.gif'); 
        background-size:        cover; 
}

/* Tom / Nadeko */
#chat-messages .id-11644061 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/v3PTrqBb.jpg'); 
        background-size:        cover; 
}

/* Luc / xLaacx */
#chat-messages .id-5422974 .badge-box i.bdg
{
        background-image:       url('https://66.media.tumblr.com/2b8a566cc510de3691a4d842ee56ed19/tumblr_nfmctlaEkA1qatmxco1_500.gif'); 
        background-size:        cover; 
}

/* Zaph */
#chat-messages .id-6359524 .badge-box i.bdg
{
        background-image:       url('https://67.media.tumblr.com/tumblr_mc5gudCuev1ryb1gmo1_250.gif'); 
        background-size:        cover; 
}

/* NON-STAFFS */


