/********/
/*BADGES*/
/********/

/* STAFF */

/* Vohiyo */
#chat-messages .id-3765403 .badge-box i.bdg
{
        background-image:       url('http://i99.beon.ru/45.media.tumblr.com/128c82669e9cc59f224e8c333ce2c8ac/tumblr_o4tyjdJ3aA1qg5nyao4_400.gif'); 
        background-size:        cover; 
}

/* Jeroen */
#chat-messages .id-4346793 .badge-box i.bdg
{
        background-image:       url('https://67.media.tumblr.com/1fe7f4886aac8edec9cae71ca23cf0f2/tumblr_inline_oajba6oPEE1raday8_540.png'); 
        background-size:        cover; 
}
